{% extends "base.html" %}

{% load static %}


{% block title %}

Topics

{% endblock %}




{% block extra_css %}

<link rel="stylesheet"
href="{% static 'css/topics.css' %}">

{% endblock %}




{% block content %}



<div class="topics-page">



    <!-- Page Header -->

    <div class="page-header">


        <div>

            <h1>

                Topics

            </h1>


            <p>

                Manage your personal learning journeys

            </p>

        </div>




        <a href="{% url "create_topic" %}"
        class="btn primary-button">


            <i class="bi bi-plus-lg"></i>

            New Topic


        </a>



    </div>





    <!-- Filters -->

    <div class="filter-card">



        <div class="row g-3">


            <!-- Search -->


            <div class="col-md-4">


                <label>

                    Search

                </label>


                <div class="search-input">


                    <i class="bi bi-search"></i>


                    <input
                    id="topicSearch"
                    type="text"
                    class="form-control"
                    placeholder="Search topics...">


                </div>


            </div>





            <!-- Status -->


            <div class="col-md-2">


                <label>

                    Status

                </label>


                <select
                id="statusFilter"
                class="form-select">


                    <option value="">

                        All

                    </option>


                    <option value="IDEA">

                        Idea

                    </option>


                    <option value="SOURCE_RESEARCH">

                        Source Research

                    </option>


                    <option value="LEARNING">

                        Learning

                    </option>


                    <option value="EXPERIENCE">

                        Experience

                    </option>


                    <option value="COMPLETED">

                        Completed

                    </option>


                </select>


            </div>






            <!-- Category -->


            <div class="col-md-3">


                <label>

                    Category

                </label>


                <select
                id="categoryFilter"
                class="form-select">


                    <option value="">

                        All Categories

                    </option>


                    {% for category in categories %}


                    <option value="{{ category.name }}">


                        {{ category.name }}


                    </option>


                    {% endfor %}


                </select>


            </div>






            <!-- Priority -->


            <div class="col-md-2">


                <label>

                    Priority

                </label>


                <select
                id="priorityFilter"
                class="form-select">


                    <option value="">

                        All

                    </option>


                    <option value="CRITICAL">

                        Critical

                    </option>


                    <option value="HIGH">

                        High

                    </option>


                    <option value="MEDIUM">

                        Medium

                    </option>


                    <option value="LOW">

                        Low

                    </option>



                </select>


            </div>





            <div class="col-md-1 d-flex align-items-end">


                <button
                id="resetFilters"
                class="btn secondary-button w-100">


                    <i class="bi bi-arrow-counterclockwise"></i>


                </button>


            </div>



        </div>


    </div>






    <!-- Topics Table -->


    <div class="table-card">



        <div class="table-responsive">


            <table class="table topic-table">


                <thead>


                    <tr>


                        <th>

                            Topic

                        </th>


                        <th>

                            Category

                        </th>


                        <th>

                            Status

                        </th>


                        <th>

                            Priority

                        </th>


                        <th>

                            Updated

                        </th>


                        <th>

                            Action

                        </th>


                    </tr>


                </thead>




                <tbody id="topicTableBody">



                {% for topic in topics %}



                    <tr

                    data-title="{{ topic.title }}"
                    data-status="{{ topic.status }}"
                    data-category="{{ topic.category.name }}"
                    data-priority="{{ topic.priority }}">



                        <td>


                            <div class="topic-title">


                                {{ topic.title }}


                            </div>


                            <small>


                                {{ topic.description|truncatechars:80 }}


                            </small>


                        </td>




                        <td>


                            <span class="category-badge">


                                {{ topic.category.name }}


                            </span>


                        </td>




                        <td>


                            <span class="status-badge status-{{ topic.status }}">


                                {{ topic.status|title|cut:"_" }}


                            </span>


                        </td>




                        <td>


                            {{ topic.priority|title }}


                        </td>





                        <td>


                            {{ topic.updated_at|date:"d M Y" }}


                        </td>





                        <td>


                            <a href="#"
                            class="btn view-button">


                                View


                            </a>


                        </td>



                    </tr>



                {% empty %}



                    <tr>


                        <td colspan="6"
                        class="empty-state">


                            No topics found.


                        </td>


                    </tr>



                {% endfor %}



                </tbody>



            </table>


        </div>


    </div>




</div>




{% endblock %}





{% block extra_js %}

<script src="{% static 'js/topics.js' %}"></script>

{% endblock %}